name: Test the package

on:
  workflow_dispatch:
  
  push:
    branches:    
      - master

jobs:

  build:
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
        
      - name: Run tests
        run: |
          pushd tests
          bash run_all.sh
          popd
